# Build artifacts
/target/
*.class
*.jar
*.war
*.iml
.settings/
.classpath
.project

# IDE Files
.idea/
.vscode/

# Node
node_modules/
dist/
*.local

# Native C++
**/build/

# Local file uploads (created by application-local profile)
uploads/

# C++ Crypto key: 
/infra/secrets/*
