.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--color-primary);
    border: none;
    z-index: 1000;
    margin: 0 0 20px;
}

.headerTitle {
    display: inline-block;
    padding: 15px 15px;
    color: var(--color-white);
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    color: var(--color-white);
    font-weight: 500;
}

.headerRight {
    float: right;
    padding: 15px;
    line-height: 20px;
    cursor: pointer;
}

.headerCompany {
    color: var(--color-primary-light);
    margin-right: 15px;
}

.headerLogout {
    color: var(--color-primary-light);
    cursor: pointer;
}

.headerLogout:hover {
    color: var(--color-white);
}